# ------------------------------
# PowerBuilder
# ------------------------------
*.pbd
*.pbl
*.pbt
*.exe
*.dll
*.pbc
*.ini
*.log
*.bak

# ------------------------------
# Python / FastAPI
# ------------------------------
__pycache__/
*.pyc
venv/
.env
.DS_Store

# ------------------------------
# Oracle / temp
# ------------------------------
*.dmp
*.log

# ------------------------------
# IDEs
# ------------------------------
.idea/
*.iml
.vscode/
